.testimonial-wrapper {
  text-align: center;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  margin-top: -10px;
}

.testimonial-img-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.testimonial-img {
  border-radius: 50%;
  transition: transform 0.1s ease, opacity 0.1s ease;
  align-items: center;
}

.center-img {
  width: 80px;
  height: 80px;
  transform: scale(1.1);
  opacity: 1;
}

.side-img {
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

.nav-btn {
  color: black;
  background-color: white;
  border-radius: 50%;
  border-color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background 0.1s;
}
.right {
  margin-top: -30px;
  margin-left: 550px;
}
.left {
  margin-right: 1110px;
  margin-top: 40px;
}

.testimonial-text {
  max-width: 900px;
  margin: 0 auto;
  margin-left: 520px;
}

.quote {
  font-size: 18px;
  margin-top: -50px;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.8;
}

.author {
  color: black;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 110px;
}

hr {
  color: dimgray;
}
